canvas {
    width: 640px;
    height: 320px;

    border:1px solid black; 

    margin-left: auto;
    margin-right: auto;

    display: block;
}

@media screen and (max-width: 500px) {
    canvas {
        width: 320px;
        height: 180px;
    }
}

@media screen and (max-width: 385px) {
    canvas {
        width: 160px;
        height: 90px;
    }
}