.CurriculumVitae * {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media (prefers-color-scheme: dark) {
  .CurriculumVitae {
    background-color: #303030;
  }

  .Card {
    background-color: #808080 !important;
    box-shadow: none !important;
  }

  .Label {
    background-color: #505050 !important;
  }

  .TextContainer * :not(a) {
    /* all text except links */
    color: white !important;
  }
}
