canvas {
    width: 320px;
    height: 180px;

    border:1px solid #000000; 

    margin-left: auto;
    margin-right: auto;

    display: block;
}

@media screen and (max-width: 385px) {
    canvas {
        width: 160px;
        height: 90px;
    }
}