.GitHubCornerPicture {
  fill:steelblue;
  color:#fff;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

@media (prefers-color-scheme: dark) {
  .GitHubCornerPicture {
    fill: aqua;
  }
}

.OctoArm {
  transform-origin: 130px 106px;
}

.GitHubCorner:hover .OctoArm {
  animation: OctocatWave 560ms ease-in-out
}

@keyframes OctocatWave {

  0%, 100% {
    transform: rotate(0);
  }

  20%, 60% {
    transform: rotate(-25deg);
  }

  40%, 80% {
    transform: rotate(10deg);
  }
}

@media (max-width:500px) {
  .GitHubCorner:hover .OctoArm {
    animation: none;
  }

  .GitHubCorner .OctoArm {
    animation: OctocatWave 560ms ease-in-out;
  }
}